* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

a {
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}

.box_content .default_button,
.css-1e6y48t-MuiButtonBase-root-MuiButton-root.default_button,
.default_button {
    font-weight: 500 !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
    padding: 10px 30px !important;
    border-radius: 50px !important;
    transition: 0.5s !important;
    color: #ffffff !important;
    background-image: radial-gradient(circle, #6bb8f9, #5ca3e0, #4c8ec7, #3d7aaf, #2d6698) !important;
}

.default_button:hover {
    background-image: radial-gradient(circle, #2d6698, #3d7aaf, #4c8ec7, #5ca3e0, #6bb8f9) !important;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    font-size: 16px;
    font-weight: 500;
    color: #212529;
}

.link a {
    color: #2D6698;
    text-decoration: none;
}

.link a:hover {
    color: #50ACF9;
    text-decoration: underline;
}

@media (min-width: 375px) and (max-width: 500px) {
    .login_form {
        width: 343px;
        padding: 33px 27px 45px;
    }
}

/* Registration */
.register_form .login_form_wrapper {
    width: 740px;
    margin: 0 auto;
}

.register_form .login_cover {
    gap: 30px;
}

/* Home */
.logo {
    color: #df4d4d;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    /* text-decoration: line-through; */
}

.nav_menu {
    margin-right: 20px;
}

.nav_main_menu {
    display: flex;
    gap: 30px;
}

.nav_main_menu li a {
    font-size: 18px;
    color: #000000;
}

.nav_main_menu li a:hover,
.nav_main_menu li:active,
.nav_main_menu li:visited,
.nav_main_menu li:focus,
li.active a {
    color: #df4d4d;
}

.box_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card_box {
    width: 30%;
    border: 1px solid #EBEDEF;
    cursor: pointer;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.card_box:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card_box::before,
.card_box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card_box::before {
    transform-origin: left top;
}

.card_box .img_wrap {
    position: relative;
    width: 100%;
    height: 200px;
}

.card_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.box_content h3 {
    color: #2D6698;
}

.box_content h3:hover {
    color: #50ACF9;
}

.box_content p {
    color: #696969;
    line-height: 28px;
    font-size: 12px;
}

/* Booking */
/* Logo */
.pia_logo {
    width: 100px;
}

/* Modal */
.Booking_modal {
    display: flex;
    justify-content: center;
    margin: 40px 0 0;
}

.Booking_modal .MuiBox-root {
    position: relative;
}

.css-999xcv-MuiButtonBase-root-MuiButton-root:hover {
    color: #FFFFFF;
}

.css-10plref-MuiButtonBase-root-MuiButton-root:hover {
    color: #FFFFFF;
}

.css-79ws1d-MuiModal-root {
    overflow: scroll;
}

p.css-k4o86f-MuiTablePagination-displayedRows,
p.css-408dif-MuiTablePagination-selectLabel {
    margin: 0;
}

.active_cell p {
    background-color: #e8fadd;
    color: #72e128 !important;
    padding: 1px;
    margin: 0;
    font-weight: 700;
    text-align: center;
    border-radius: 50rem;
}

.pending_cell p {
    background-color: #fff3dd;
    color: #fdb528 !important;
    padding: 1px;
    margin: 0;
    font-weight: 700;
    text-align: center;
    border-radius: 50rem;
}

.block_cell p {
    background-color: #ffdbdb;
    color: #ff4d49 !important;
    padding: 1px;
    margin: 0;
    font-weight: 700;
    text-align: center;
    border-radius: 50rem;
}

.cancel_cell p {
    background-color: #e7e7ff;
    color: #666cff !important;
    padding: 1px;
    margin: 0;
    font-weight: 700;
    text-align: center;
    border-radius: 50rem;
}

.css-3bb44a-MuiButtonBase-root-MuiButton-root:active,
.css-3bb44a-MuiButtonBase-root-MuiButton-root:hover {
    color: #ffffff;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1pfz96o-MuiButtonBase-root-MuiIconButton-root {
    color: #72e128 !important;
}

/* Arrows */
img.crossIcon {
    width: 30px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.footer-widget__about-logo img,
.main-menu-wrapper__logo img {
    width: 74px;
}

.main-menu-wrapper__main-menu .mobile-nav__toggler {
    margin: 21px 0 0;
}

.edit_button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1pfz96o-MuiButtonBase-root-MuiIconButton-root {
    color: rgba(76, 78, 100, 0.68) !important;
}

.main-menu-wrapper__right-contact-box {
    display: flex;
    background-color: white;
    border-radius: 100%;
    padding: 12px;
    align-items: center;
    flex-direction: column;
}

.main-menu-wrapper__right-contact-number {
    line-height: normal;
    font-size: 14px;
    font-weight: 700;
    color: #00688e;
    margin-left: 0;
}

.main-menu-wrapper__right-contact-box img {
    width: 50px;
}

/* Drinks */
.swiper-slide:hover .MuiButton-root {
    opacity: 1;
}

.ContainerPagePadding .swiper {
    padding: 40px 0;
}.BoxWidth {
    margin-bottom: 30px;
  }